body{

    background-color: rgb(34, 34, 34);
    color: white;
    font-family:'Times New Roman';
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
header h1:hover{


    color: rgb(137, 137, 231);
}
#title{

    flex-direction: column;
    line-height: 10px;
}
li{

    display: inline-block;
    margin: 20px;
   
}
a{

    color: white;
}
a:hover{

    color: blue;
    transition: 0.3s all;
}
#inscreva-se-btn{

    border: 2px solid blue;
    padding: 10px;
    border-radius: 15px;
}
#inscreva-se-btn:hover{

    background-color: blue;
    color: white;
}
h1{

    font-weight: 200;
    cursor: pointer;
}
main{

    display: flex;
    flex-direction: row;
    margin-top: 50px;

}
h2{

    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}
span{

    color: blue;
}
span:hover{

    color: white;
    cursor: pointer;

}    
p{

    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}
img{

    width: 580px;
    padding-left: 100px;
    border-radius: 22%;
}
form{

    display: flex;
    flex-direction: column;
    width: 70%;
}
form [type="submit"] {

    height: 50px;
    width: 50%;
    background-color: blue;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover {

  color: blue;
  background-color: white;
  cursor: pointer;
}
input{

    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
.cadastro h1{

    color: blue;
    margin: 22px;
    padding-left: 22px;
    background-color: white;
}
.cadastro h2{

    color: white;
    padding-left: 100px;
    padding-top: 200px;
    position: center;
    font-size: 30px;
    
}
.cadastro img{

    width: 20%;
    padding-right: 50px;
    padding-top: 50px;
}